<h3 class="text-center">Student Details</h3>

<div class="container">
  <ul>
    <li><p class="fw-bold d-inline lead">Name: </p><p class="d-inline lead"><%= student.name %></p></li>
    <li><p class="fw-bold d-inline lead">Roll No: </p><p class="d-inline lead"><%= student.roll_no %></p></li>
    <li><p class="fw-bold d-inline lead">Class: </p><p class="d-inline lead"><%= student.class.name %></p></li>
    <li><p class="fw-bold d-inline lead">Age: </p><p class="d-inline lead"><%= student.age%></p></li>
    <li><p class="fw-bold d-inline lead">Gender: </p><p class="d-inline lead"><%= student.gender%></p></li>
    <li><p class="fw-bold d-inline lead">Grade: </p><p class="d-inline lead"><%= student.grade%></p></li>
  </ul>
</div>