<div class="container mt-3 mb-2">
  <form class="d-flex" role="search" action="/subjects" method="GET">
    <input class="form-control form-control-lg me-2" type="search" name="name" value="<%= query.name %>" placeholder="Search.." aria-label="Search">
    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
  </form>
</div>
<div class="container">
  <div class="container d-flex justify-content-between align-items-center bg-main p-3">
    <div>
    <h3 class="text-light display-5"><i class="fa-solid fa-graduation-cap me-3"></i>Subjects</h3>
  </div>
    <div>
    <a href="/subjects/new" class="btn btn-primary text-white fs-3">
      <i class="bi bi-plus-circle me-2"></i>Add New Subject</a>
  </div>
  </div> 
  <div class="container mt-3">
      <div id="options" class="row mb-4">
        <% subjects.forEach(el =>{ %>
          <div class="col col-12 col-md-4 mb-3 shadow-lg p-0 border rounded-4">
            <div class="container d-flex flex-column justify-content-between align-items-center p-5 m-0">
            <i class="fa-solid fa-graduation-cap"></i>
            <p class="display-5"> <%= el.name %> </p>
          </div>
          <div class="container d-flex justify-content-around p-2 border rounded-bottom-3">
            <a class="text-primary" href="/subjects/details/<%= el.id %>"><i class="bi bi-eye-fill btn">View</i></a>
              <a class="text-secondary" href="/subjects/edit/<%= el.id %>"><i class="bi bi-pen-fill btn">Edit</i></a>
              <a class="text-danger btn"><i data-id="<%= el._id %>" class="bi bi-trash3-fill">Delete</i></a>
          </div>
          </div>
        <% }) %>
        
      </div>
        
      </div>
    
    </div>
    
</div>
</div>

<script>

deleteSubject() // to delete subject
function deleteSubject() {
  let options = document.querySelector('#options')
  let deleteId;
  if(options !== null){
  options.onclick = async function(e){
    deleteId = e.target.getAttribute('data-id')
    console.log(deleteId)
  // if data id exist on target, then only delete
    if (deleteId !== null) {
      if (confirm('Are you sure you want to delete ? ')) {
        // delete the record only when ok is clicked
        let url = `/subjects/${deleteId}`
        let response = await fetch(url, {
          method: 'DELETE'
        })
        let data = await response.json();
        if(data) window.location.reload();
      }
    }
  else{
    // when you cancel, do nothing
  }
  }
  }
}

</script>

